


<!DOCTYPE html >
<html lang="en">





<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<section class= "white">
<div id='' class="container-fluid" style="height: 150px;"></div>
<div class="container">
<div class="side-menu">
        	<nav class="navbar navbar-default" role="navigation">
            <div class="side-menu-container">
        <ul class="nav">
			
            <li class="nav-title"><a href="index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> SIM Menu Home</a></li>

			<li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about8">Business Format Requests (General)<span class="caret"></span></a>
                <div id="about8" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">
            
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about">Logistics <span class="caret"></span></a>
                <div id="about" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">
                            <li><a href="https://tiny.amazon.com/lv72dl0u"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">AMZL East (Amazon Logistics)</a></li>
                            <li><a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">AMZL West (Amazon Logistics)</a></li>
							<li><a href="https://tiny.amazon.com/q41x3m54"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">GSF (Global Specialty Fulfillment)</a></li>
							<li><a href="https://tiny.amazon.com/1648782ng"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">ATS (AMAZON TRANSPORTATION SERVICE)</a></li>
                            
                        </ul>
                    </div>
                </div>
            </li>

            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about1">Fullfillment <span class="caret"></span></a>
                <div id="about1" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">
                            <li><a href="https://tiny.amazon.com/156g85c5m"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Specialty / IXD / Relo</a></li>
                            <li><a href="https://tiny.amazon.com/653fwbi1"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">(AR) Robotics</a></li>
							<li><a href="https://tiny.amazon.com/qoaqlcz4"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">(FC) Sortable / Non-Sort</a></li>                            
                        </ul>
                    </div>
                </div>
            </li>

            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about2">External <span class="caret"></span></a>
                <div id="about2" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">
                            <li><a href="https://tiny.amazon.com/wkb7l6vh"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Customer Fraud</a></li>
                            <li><a href="https://tiny.amazon.com/jdyoi47b"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Vendor / Seller Fraud</a></li>                           
                        </ul>
                    </div>
                </div>
            </li>

                        </ul>
                    </div>
                </div>
            </li>





            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about3">ASIST Individual Requests (Specific)<span class="caret"></span></a>
                <div id="about3" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">
                            
							
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about4">Logistics<span class="caret"></span></a>
                <div id="about4" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/crosnowc"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/crosnowc.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/1fr1vc6ed"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Wally Crosno - Manager – Logistics Investigations</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/mesaadri"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/mesaadri.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/qg708mmb"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Adrian Mesa - Logistics Investigations Manager, AMZL (West)</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/howabenj"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/howabenj.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/pxltpnwy"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Ben Howard - Logistics Investigations Mgr, AMZL (East)</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/shehamm"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/shehamm.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/rus4uxls"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Sheila Hamm - Logistics Investigations Manager, GSF</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/ahharms"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/ahharms.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/1h9ts5ca5"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Tony Harms - Logistics Investigations Manager, ATS</a></li>
                       
                        </ul>
                    </div>
                </div>
            </li>


			<li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about5">Fullfillment<span class="caret"></span></a>
                <div id="about5" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">

					   		<li><div class="team-image"><a href="https://phonetool.amazon.com/users/miworkma"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/miworkma.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/kmdyxu34"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Michelle Wrokman - Fullfillment Investigations Manager, IXD/Relo</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/randpoff"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/randpoff.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/1d0dv467w"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Randy Poff - Fullfillment Investigations Manager, AR</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/dixoden"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/dixoden.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/cdsm7bl8"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Dennis Dixon - Fullfillment Investigations Manager, FC</a></li>
                       
                        </ul>
                    </div>
                </div>
            </li>

			<li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about6">External <span class="caret"></span></a>
                <div id="about6" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">
                            <li><div class="team-image"><a href="https://phonetool.amazon.com/users/micsteen"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/micsteen.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/sou9ura9"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Michael Steen - External Investigations Manager, Customer Fraud</a></li>

							<li><div class="team-image"><a href="https://phonetool.amazon.com/users/fernann"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/fernann.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/998l9j6p"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Fernando Nunez - External Investigations, Customer Fraud</a></li>

                           <li><div class="team-image"><a href="https://phonetool.amazon.com/users/srockoff"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/srockoff.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/16rxbz35d"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Scott Rockoff - External Investigations Manager, Vendor/Seller Fraud</a></li>

                           <li><div class="team-image"><a href="https://phonetool.amazon.com/users/johnelyi"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/johnelyi.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/1d2myc0xe"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">John Elgin - External Investigations Specialist, Vendor/Seller Fraud</a></li>														                         
                        </ul>
                    </div>
                </div>
            </li>

			<li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about7">Programing Support<span class="caret"></span></a>
                <div id="about7" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">

                            <li><div class="team-image"><a href="https://phonetool.amazon.com/users/ditjason"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/ditjason.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/17jwjzuu8"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">Jason D'ltri - Programs LP Support Engineer</a></li>

                        </ul>
                    </div>
                </div>
            </li>

			<li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#about9">ASIST Leadership<span class="caret"></span></a>
                <div id="about9" class="panel-collapse collapse">
                    <div class="panel-body">
                       <ul class="nav navbar-nav">

                            <li><div class="team-image"><a href="https://phonetool.amazon.com/users/omalleyw"target="_blank">
                      		<img class="img-responsive img-thumbnail"  src="public/images/team/omalleyw.jpg" alt="" style="width:45px;height:60px;"></a>
							<a href="https://tiny.amazon.com/gaxvgwbt"target="_blank"><img class="btn" src="public/images/simicon.png" alt="" style="width:60px;height:50px;">William, O'Malley, CFE - Manager – Strategic Investigative Solutions</a></li>

                        </ul>
                    </div>
                </div>
            </li>	

							
							
                        </ul>
                    </div>
                </div>
            </li>

            </ul>
            </div>
            </nav>
            </div>
</div>
<div id='' class="container-fluid" style="height: 600px;"></div>
</section>
</html>
<link href="public/css/style.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



