{{template "header"}}

    
				<section id="meettheteam" class="white">
	            <div class="center gap fade-down section-heading">
	                <h2 class="main-title">Meet The Team</h2>
	            </div> 
	            <div class="gap"></div>



				<div class="container">
	            <div class="left gap fade-down section-heading">
	                <h3 class="main-title">STRATEGIC INVESTIGATIVE SOLUTIONS LEADER</h3>
					 </div> 
                    <div class="gap"></div>

	            <div  class="row">
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                </div>


                    <div class="gap"></div>
	            <div class="left gap fade-down section-heading">
	                <h2 class="main-title">Logistics Investigations</h2>
                    <div class="gap"></div>



 	            <div  class="row">
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                </div>


				<div class="gap"></div>

	           
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                

	           
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                

	            
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                


                <div  class="row">
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                </div>


                    <div class="gap"></div>
	            <div class="left gap fade-down section-heading">
	                <h2 class="main-title">Fullfillment Investigations</h2>
					</div>
                    <div class="gap"></div>




 	            
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                


				<div class="gap"></div>

                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
                
				<div  class="row">
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
				</div>
                




					<div class="gap"></div>
	            <div class="left gap fade-down section-heading">
	                <h2 class="main-title">External Investigations</h2>
                    <div class="gap"></div>




               <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>

               <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>

               <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>


				<div  class="row">
                <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div>
				</div>


					<div class="gap"></div>
	            <div class="left gap fade-down section-heading">
	                <h2 class="main-title">Programming Support</h2>
                    <div class="gap"></div>


               <div class="col-md-3 col-xs-6">	               
	                    <div class="center team-member">
                            <div class="team-image"><img class="bounce-in" src="public/images/team/omalleyw.jpg" alt=""></div>
							<div class="team-content">
	                            <h5>William, O'Malley, CFE<br /><small>Manager – Strategic Investigative Solutions</small></h5>
								<a href="mailto:omalleyw@amazon.com?Subject=ASIST Web&Body=Email sent from ASIST Website"target="_blank"><img class="btn " src="public/images/mailicon.jpg" alt=""></a>
								<a href="https://phonetool.amazon.com/users/omalleyw"target="_blank"><img class="btn " src="public/images/phoneicon.jpg" alt=""></a>
								<a href="https://tiny.amazon.com/175wadm2r"target="_blank"><img class="btn" src="public/images/simicon.png" alt=""></a> 
								<a id="open-popup" href=""><img class="btn" src="public/images/profileicon.jpg"></a> 
	                        </div>	
	                    </div>
	                </div><!--/#meet-the-team-->
 
            </div>      
        </section>
{{template "footer"}}